//
@use "bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.render {
    .package {
        background-color: purple;
        color: white;
    }
    .flight {
        background-color: violet;
        color: white;
    }
    .news {
        background-color: darkviolet;
        color: white;
    }
}

/* Package view */
.vote {
    height: 25px;
    width: 25px;
    background-color: #6b15c1;
    color: white;
    font-weight: 600;
    padding: 0.25rem;
    border-radius: 0.25rem;
}
.offer {
    background-color: #a3175b;
    color: white;
}
